.general-text{
    color: aqua;
}
.general-text{
    color: blueviolet;
}

.combo-classes{
    text-decoration-line: underline;
}

#myContainer h3{
    color: red;
}

#myContainer h4{
    color: aqua;
}

