.navbar-nav{
    align-items: center;
}

input{
    width: 1em;
    height: 50px;
}

button{
    width: 350px;
    height: 50px;
}

.jumbotron-fluid{
    background-image: url("../IMG/pizza.png");
    height: 346px;
    width: 80%;
    image-resolution: normal;
    align-items: center;
    color: black;
    display: flex;
    margin-left: 135px;
    background-size: cover;
}

h1{
    text-align: center;
}

h2{
    margin-left: 135px;
}
